<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <h1>@Model.GetName()</h1>
  <h2>View All Jobs In Company</h2>
  @foreach (var job in Model.GetJobs())
  {
    <ul>
      <li><a href="/jobs/@job.GetId()/@job.GetTitle()">@job.GetTitle()</a></li>
    </ul>
  }
  <h2>Update Your Company</h2>
  <form class="from-group" action="/companies/@Model.GetId()/@Model.GetName()/updated" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <h2>Name<input type="text" name="company-name" class="form-control"></h2>
    <button type="submit" class="btn btn-success">Update Company</button>
  </form>
  <form class="form-group" action="/companies/@Model.GetId()/@Model.GetName()/deleted" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" name="button" class="btn btn-danger">Delete Company</button>
  </form>
  <a href="/"><h1>Back Home</h1></a>
</body>
