<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <h1>You have successfully deleted your job @Model.GetName()!</h1>
  <a href="/"><h1>Back Home</h1></a>
</body>
