<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <h2>Word count</h2>
  <form  action="/keyword" method="post">
    <input type="text" name="title" value="">
    <textarea name="descrip" rows="8" cols="40"></textarea>
    <input type="number" name="salary" value="">
    <button type="sumbit" name="button">Submit</button>
  </form>

  @foreach (var account in Model)
  {
    <a href="/accounts/@account.GetId()/@account.GetFirstName()"><h3>@account.GetFirstName() @account.GetLastName()</h3></a>
  }
  <a href="/accounts/new">Create A New Account</a>
  <a href="/jobs/new">Create a New Job Post</a>
  <a href="/jobs">View All Jobs</a>
</body>
