<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <a href="/accounts/new">Create A New Account</a>
  <a href="/jobs/new">Create a New Job Post</a>
</body>
