<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  @foreach (var account in Model)
  {
    <a href="/accounts/@account.GetId()/@account.GetFirstName()"><h3>@account.GetFirstName() @account.GetLastName()</h3></a>
  }
  <a href="/accounts/new">Create A New Account</a>
  <a href="/jobs/new">Create a New Job Post</a>
  <a href="/jobs">View All Jobs</a>
</body>
