<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <h1>@Model.GetTitle()</h1>
  <h2>@Model.GetDescription()</h2>
  <h2>Update Your Listing</h2>
  <form class="from-group" action="/jobs/@Model.GetId()/@Model.GetTitle()/updated" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <h2>Title<input type="text" name="job-title" class="form-control"></h2>
    <h2>Description<input type="text" name="job-description" class="form-control"></h2>
    <h2>Salary<input type="number" name="job-salary" class="form-control"></h2>
    <button type="submit" class="btn btn-success">Update Job</button>
  </form>
  <form class="form-group" action="/jobs/@Model.GetId()/@Model.GetTitle()/deleted" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" name="button" class="btn btn-danger">Delete Job</button>
  </form>
  <a href="/"><h1>Back Home</h1></a>
</body>
