<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <h1>Create a New Job Listing</h1>
  <form class="from-group" action="/jobs" method="post">
    <h2>Title<input type="text" name="job-title" class="form-control"></h2>
    <h2>Description<input type="text" name="job-description" class="form-control"></h2>
    <h2>Salary<input type="text" name="job-salary" class="form-control"></h2>
    <button type="btn" class="btn btn-success">Create Job</button>
  </form>
  <a href="/"><h1>Back Home</h1></a>
</body>
