<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <h1>List of All Jobs</h1>
  @foreach (var job in Model)
  {
    <ul>
      <a href="/jobs/@job.GetId()/@job.GetTitle()"><li>@job.GetTitle()</li></a>
    </ul>
  }
  <a href="/"><h1>Back Home</h1></a>
</body>
