@using System.Collections.Generic
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/css/lists.css" type="text/css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
    <title>Keyword Comparisons</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/accounts/new">Create Account</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron">
      <h2>Here are the keywords for @Model["job"].GetTitle()</h2>
      <h3>Keywords used in this job's category</h3>
      <ul>
        @foreach(KeyValuePair<string, int> pair in Model["categoryWords"])
        {
          <li>@pair.Key  @pair.Value</li>
        }
      </ul>

      <h3 class="h2-headers">Keywords used by this job's company</h3>
      <ul>
        @foreach(string companyWord in Model["companyWords"].Keys)
        {
          <li>@companyWord</li>
        }
      </ul>
    </div>
  </body>
</html>
