<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="/Content/js/bootstrap.js"></script>
  <title>Epicodus Job Board</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/accounts/new">Create Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron login-jumbotron">
    <!-- <b class= "glyphicon glyphicon-user"></b> -->
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="User Name">
      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
  <!-- <div class="content">
    <p><a href="/accounts/new">Create A New Account</a></p>
    <p><a href="/accounts/">View All Accounts</a></p>
    <p><a href="/jobs/new">Create a New Job Post</a></p>
    <p><a href="/jobs">View All Jobs</a></p>
    <p><a href="/companies/new">Create A New Company</a></p>
    <p><a href="/companies">View All Companies</a></p>
    <p><a href="/categories/new">Create A New Category</a></p>
    <p><a href="/categories">View All Categories</a></p>
  </div> -->
</body>
